<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<body>
    <form action="/submit" method="POST" id="loginForm">
        <label>username</label>
        <input type="text" name="username">

        <label>password</label>
        <input type="password" name="password">

        <input id="submitBtn" type="submit" value=<%- status %>>
    </form>

    <script>
        const form = document.getElementById("loginForm");
        const button = document.getElementById("submitBtn");
    
        form.addEventListener("submit", () => {
            button.value = "loading...";
        });
    </script>

    
</body>
</html>